nav.navbar.navbar-default.navbar-fixed-top
  .container
    a(href='#top', class = 'navbar-brand') Albert Cui
    .navbar-header
      ul.nav.navbar-nav
        li: a(href='#about') About
        li: a(href='#positions') Positions
        li: a(href='#projects') Projects