doctype html
html
  head
    title Albert Cui - A dude who wants to be indexed on Google
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="google-site-verification" content="JrKJZLEH4oLVFBn8YKHYohqsaY48WYO3LuFLyu-2OmI")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    style.
     .img-thumbnail {
        height: 100px;
        margin-right: 10px;
        margin-bottom: 10px;
        float: left;
     }

     * {
       font-family: 'Lato', sans-serif;
     }
     
     body {
       padding-top: 70px;
       position: relative;
     }
     
     ul {
       font-size: 1.7rem;
     }
  body(data-spy='scroll', data-target='.navbar')
      include ./header.jade
      .container#top
        #col-mid-8
         #about
          h2 About
          img(src='/img/profile.jpg', class='img-thumbnail')
          p(style="display:inline;").
            My name is Albert. It's on this page a few times. I felt like I should have a website, so here it is.
          pre(style="clear:both;").
           {
              "name": "Albert Cui",
              "age": "21",
              "occupation": "Student",
              "university": "Columbia University",
              "major": "BS in Computer Science",
              "graduation_date": "Dec 2015",
              "current_location": "New York, NY",
              "hometown": "Beaverton, OR",
              "hobbies": [
                  "Coding",
                  "Dota 2",
                  "College Football"
              ]
           }
         #positions
           h2 Positions
           :markdown
            * Google - Associate Product Manager Intern, Google Docs Suite - May 2015 - Aug 2015
              * Researched, developed, and managed the implementation of new functionality for common components of the Google Docs, Sheets, and Slides mobile apps
              * Worked with UX designers, researchers, sales, product managers, and engineers to coordinate feature launches
            * Columbia University - Teaching Assistant - Fall 2015
              * [COMS W4170 - User Interface Design](http://graphics.cs.columbia.edu/courses/csw4170/)
            * Columbia College Information Technology - Software Development Intern - Jun 2014 - Nov 2014
              * Developed web applications with the Symfony MVC framework, MySQL, Elasticsearch, Javascript
              * Wrote and maintained unit, integration, and acceptance tests
              * Created AJAX forms with validations for user input
              * Implemented various CRUD operations, user permission checks pertaining CRUD operations
            * Columbia Daily Spectator - Lead Web Developer - Dec 2013 - Dec 2014
              * Administered all sites of the Spectator Publishing Company
              * Set up, optimized, and maintained the LAMP stack (also experience with Nginx)
              * Mentored and taught new members HTML, CSS, and Javascript
              * Implemented  new site features: slideshows, timelines, and special landing pages in PHP, JS, CSS
            * Columbia College Information Technology - Desktop Support Intern - May 2013 - May 2014
              * Configured hardware specific hard drive images
              * Worked with clients to resolve software, network, printer, and hardware issues

         #projects
           h2 Projects
           :markdown
            * [YASP - YASP : Another Stats Page](http://yasp.co)
              * [Open Source](https://github.com/yasp-dota/yasp) Dota 2 statistics site. Project founder and developer.
              * July 2015 Statistics: 550,000+ page views, 45,000+ users, $600+ revenue (donations + ads)
            * [k-AWK](https://github.com/albertcui/kawk)
              * Designed and implemented the k-AWK language in Ocaml, ocamllex, and ocamlyacc
            * Columbia Daily Spectator
              * Complete server migration of all sites
              * Framework migration from Wordpress to Drupal 7 of [Spectrum](http://columbiaspectator.com/spectrum)
                * Migrated content to the new site using a custom PHP script
                * Rethemed the site using Twitter Bootstrap and custom CSS

         // #interests
         //   h2 Interests
         //   p The subreddits say it all...
         //   .row
         //    - var segments = subs.length / 4
         //    - for(var i = 0; i < 4; i++)
         //      .col-md-3
         //       ul
         //        each s in subs.slice(i*segments, (i+1)*segments)
         //         li= s
