doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    style.
     * {
       font-family: 'Lato', sans-serif;
     }
     
     body {
       padding-top: 70px;
       position: relative;
     }
     
     ul {
       font-size: 1.7rem;
     }
  body(data-spy='scroll', data-target='.navbar')
      include ./header.jade
      .container#top
        #col-mid-8
         #about
          h2 About
          p.
            My name is Albert. It's on this page a few times. I felt like I should have a website, so here it is.
          pre.
           {
              "name": "Albert Cui",
              "age": "20",
              "occupation": "Student",
              "university": "Columbia University",
              "major": "BS in Computer Science",
              "graduation_date": "2016",
              "current_location": "New York, NY",
              "hometown": "Beaverton, OR",
              "hobbies": [
                  "Coding",
                  "Dota 2",
                  "College Football"
              ]
           }
         #positions
           h2 Positions
           ul
             li CCIT: June 2014 - Current
               ul
                 li Software Development Intern
                 li PHP development with Symfony MVC framework, Doctrine ORM, MySQL, Elasticsearch, JS
                 li Wrote unit, integration, and acceptance tests, fixed broken tests
                 li Created AJAX forms with validations for user input
                 li Implemented various CRUD operations, user permission checks pertaining CRUD operations
                 li Implemented Elasticsearch and database queries

             li Columbia Daily Spectator: Spring 2013 - Current
               ul
                 li Lead Web Developer
                 li Maintenance and development of the sites of the 
                    a(href='http://columbiadailyspectator.com') Columbia Daily Spectator
                 li Set up, optimized and maintained the LAMP stack (also experience with Nginx)
                 li Management and mentoring of new members to the development team
             li CCIT: May 2013 - May 2014
               ul
                 li Desktop Support Intern
                 li Configured hardware specific hard drive images
                 li Worked with clients to resolve software, network, and hardware issues
         #projects
           h2 Projects
           ul
             li
               a(href='http://yasp.albertcui.com') YASP: YASP - Another Stats Page
               ul
                 li A Dota 2 match stats tracker
                 li Automatic replay downloading and parsing for more interesting stats
             li
               a(href='http://columbiaspectator.com/spectrum') Spectrum - The Blog of the Columbia Daily Spectator
               ul
                 li Content migration from the old Wordpress site to the current Drupal site
                 li Mapping of the posts to new categories based off of old category and tags
                 li Complete site restyling
         #interests
           h2 Interests
           p The subreddits say it all...
           .row
            - var segments = subs.length / 4
            - for(var i = 0; i < 4; i++)
              .col-md-3
               ul
                each s in subs.slice(i*segments, (i+1)*segments)
                 li= s
